  mat-horizontal-stepper {
    padding: 1rem;

    mat-radio-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .project {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
      }

      &:hover, &.active {
        background-color: #80808030;
        cursor: pointer;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 1rem 0;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;

      .top {
        display: flex;
        gap: 0.5rem;

        mat-form-field {
          width: 100%;
        }
      }

      textarea {
        height: 7rem;
        resize: none;
      }
    }
  }
